:root {
    --primary: #44bba4;
    --secondary: #f9f6ee;
    --third: #e7bb41;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}

header {
    /* height: 6.75vw; */
    /* border: 1px solid black; */
    display: flex;
    background-color: var(--primary);
    padding: 1.5em 0 2.5em 0;
}

.logga img {
    /* height: auto; */
    margin-left: 10em;
    width: 20em;
}

.header-left .logga {
    align-self: center;
}

.header-left {
    width: 75%;
    display: flex;
}

.header-right {
    /* border: 1px solid black; */
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10em;
}

.header-right a,
.footer-container a {
    text-decoration: none;
    /* color: black; */
    color: var(--secondary);
}

.header-right a:hover {
    border-bottom: 4px solid var(--third);
    border-radius: 1px;
}

.innehåll {
    flex-basis: 43em;
    /* border: 1px solid black; */
}

.body{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container{
    display: inline-grid;
    gap: 1em;
    border:1px dotted black;
    grid-template-columns: repeat(2, auto);
    /*grid-auto-flow: 1em;*/
    margin-inline: 15em;
    margin:auto;

    }

.circle1{
    width: 5em;
    height: 5em;
    background-color: whitesmoke;
    border-radius: 100%;
    justify-self: end;
}
.circle2{
    width: 5em;
    height: 5em;
    background-color: whitesmoke;
    border-radius: 100%;
   
}

.circle3{
    width: 5em;
    height: 5em;
    background-color: whitesmoke;
    border-radius: 100%;
    justify-self: end;
}

.circle4{
    width: 5em;
    height: 5em;
    background-color: whitesmoke;
    border-radius: 100%;
   
}


.image{
    display: inline-block;
    
}
.image img {
    max-width: 30%;
    height: 1583.57px;
    top: -430px;
    left: -21.17px;
    border-radius: 10px;
    /*Rotation:-27.77°;
    /*angle: -27.77 deg*/

}
.image img:hover{
    transform:scale(1.1)
}

footer {
    background-color: var(--third);
    /* border: 1px solid black; */
    padding: 1.5em 0 0.3em 0;
    color: var(--secondary);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 0 10em 0 10em;
}

.footer-left {
    grid-column: 1/3;
}

.footer-right {
    grid-column: 8/9;
    text-align: right;
}

.footer-left a:hover {
    border-bottom: 4px solid var(--primary);
    border-radius: 1px;
}

.footer-container div:nth-child(3) {
    grid-row: 1;
}

.footer-container div:nth-child(4) {
    grid-row: 2;
}
.footer-container img {
    width: 2em;
    filter: invert(1);
}

.footer-container div:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

