:root {
    --primary: #44bba4;
    --secondary: #f9f6ee;
    --third: #e7bb41;
    --fourth: #393E41;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--fourth);
}

h1 {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.site-nav {
    padding: 30px;
}

img.logo {
    grid-column: 1/3;
    max-width: 15em;
}

a:hover:not(.no-hover-effect) {
    border-bottom: 4px solid var(--third);
    border-radius: 1px;
}

.site-nav ul {
    display: flex;
    grid-column: 4/9;
    justify-content: flex-end;
    align-items: center;
}

.site-nav li, a {
    list-style-type: none;
    text-decoration: none;
    color: var(--secondary);
}

.site-nav  li {
    margin-left: 1.5em;
}

.bar {
    background-color: var(--secondary);
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    grid-column: 8/9;
    margin-top: 13px;
    position: relative;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    top: -0.7em;
    right: -1.5em;
    background-color: var(--secondary);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: absolute;
    border-radius: 20px;
}

.menu-items li {
    padding: 10px 8px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    font-size: 0.9em;
    white-space: nowrap;    
}

.menu-items li:last-child {
    border-bottom: none;
}

.menu-items li a {
    text-decoration: none;
    color: var(--fourth);
    display: block;    
}

.menu-items li a:hover {
    color: var(--third);
}

.hamburger-menu:hover .menu-items {
    display: block;
}

#welcome {
    align-items: center;
    height: 80vh;
}

.welcome-text {
    grid-column: 5/8;
    color: var(--secondary);
}

.welcome-img {
    grid-column: 2/5;
    text-align: center;
}

.welcome-img > img {
    max-width: 80%;
    border-radius: 50%;
}

p {
    line-height: 1.7;
}

footer {
    background-color: var(--third);
    padding: 30px;
    color: var(--secondary);
    margin-top: 15px;
}

.image-footer img {
    width: 2em;
    filter: invert(1);
}

.image-footer {
    display: flex;
    grid-column: 7/9;
    justify-content: end;
}

.text-footer {
    grid-column: 1/4;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 620px) {
    .welcome-text {
        grid-column: 2/8;
        color: var(--secondary);
        order: 2;
    }
    .welcome-img > img {
        width: 80%;
    }

    #welcome {
        text-align: center;
        height: 90vh;
    }
    .welcome-img {
        grid-column: 2/8;
    }
    .image-footer img {
        max-width: 3em;
    }
    .image-footer {
        display: flex;
        grid-column: 5/9;
        justify-content: end;
    }
}

@media screen and (max-width: 960px){
    .welcome-img > img {
        width: 150%;
    }
    .site-nav ul {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
}
